$exclude-scheduler-base: false !default;

$exclude-scheduler-scheduler: false !default;
$exclude-scheduler-resources: false !default;
$exclude-scheduler-events: false !default;
$exclude-scheduler-dependencies: false !default;
$exclude-scheduler-timespans: false !default;
$exclude-scheduler-tooltips: false !default;
$exclude-scheduler-grid: false !default;
$exclude-scheduler-filtering: false !default;
$exclude-gantt-current-time: false !default;

// Default navigation
$exclude-scheduler-default-nav-navigation: false !default;
$exclude-scheduler-default-nav-loader: false !default;
$exclude-scheduler-custom-nav-navigation: false !default;

// Drag and drop helper
$exclude-scheduler-drag-and-drop-helper: false !default;
